@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --seconday-base: "Bitter", "PT Serif", Georgia, serif;
  --font-base: "Inter", "Arial", sans-serif;

  --primary-color: #edf2f8;
  --pink-color: #eb5c5e;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #58443a;
  --yellow-color: #fbba00;
  --green-color: #478f00;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.p-text {
  font-size: 0.9rem;
  text-align: left;
  color: var(--primary-color);
  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}
.brown-text {
  font-size: 0.9rem;
  text-align: left;
  color: var(--brown-color);
  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}
.pink-text {
  text-align: left;
  color: var(--pink-color);
}

.md-text {
  text-align: left;
  color: var(--primary-color);
}

.p-text:hover,
.brown-text:hover {
  color: var(--yellow-color);
  transition: 0.3s ease-in-out;
}

.heading-font {
  font-size: 0.8rem;
}

@media (min-width: 640px) {
  .heading-font {
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  .heading-font {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .heading-font {
    font-size: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .heading-font {
    font-size: 1.5rem;
  }
}

@media (min-width: 1536px) {
  .heading-font {
    font-size: 1.5rem;
  }
}

.subHeading-font {
  font-size: 0.7rem;
}

@media (min-width: 640px) {
  .subHeading-font {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .subHeading-font {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .subHeading-font {
    font-size: 1rem;
  }
}

@media (min-width: 1280px) {
  .subHeading-font {
    font-size: 1rem;
  }
}

@media (min-width: 1536px) {
  .subHeading-font {
    font-size: 1rem;
  }
}

.app_flex {
  display: flex;
  align-items: center;
}
.app_justify {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-hover {
  margin-left: 0.75rem;
  padding: 0.6rem;
  border-radius: 100%;
}
.icon-hover:hover {
  background-color: rgba(229, 231, 235, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-react-quill .ql-toolbar.ql-snow {
  border-bottom: 1px solid #030303;
}

.custom-react-quill .ql-toolbar .ql-picker {
  color: #030303;
  border-color: #030303;
}

.custom-react-quill .ql-toolbar .ql-picker-options {
  border-color: #030303;
}
